<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404</title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
    </head>
    <body>
        <nav>
            <a href="/">Accueil</a>
            <a href="/oneDScan">Scan à un appareil</a>
            <a href="/twoDScan">Scan à deux appareils</a>
            <a href="/help">Aide</a>
        </nav>
        <img src="/assets/images/404.png" id="img-404">
        <h1>Perdu ?</h1>
    </body>
</html>