<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Help</title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
    </head>
    <body>
        <nav>
            <a href="/">Accueil</a>
            <a href="/oneDScan">Scan à un appareil</a>
            <a href="/twoDScan">Scan à deux appareils</a>
            <a href="/help">Aide</a>
        </nav>
        <content>
            <h1>Aide</h1>
        
            <h4>Pour le scan à un appareil</h3>
            <p>
                Il vous suffit de vous rendre
                sur la page correspondante et de chosir un mode de scan.
                Le premier permet de scanner avec votre appareil photo / caméra,
                et le second avec vos fichiers / photos présents sur votre appareil.
            </p>
    
            <hr>
    
            <h4>Pour le scan à deux appareils</h3>
            <p>
                Vous devez d'abord vous rendre sur la page "Réceptionner". Cette page vous propose un choix.
                Utiliser un code classique ou un qr code. Si vous choissisez le QR code, il vous faudra le scanner.
                Il vous enverra vers un nouvelle pas de scan. Après avoir reçu le texte contenu dans votre scan, 
                il ne vous reste plus qu'a appuyer sur "démarrer le transfert", et votre texte devrait apparaître
                sur votre page de base "Réceptionner".
                Pour la solution du code classique, vous devez vous rendre manuellement sur la page "Scanner" sous
                "Scan à deux appareils". Là, comportez-vous comme un scan classique, lorsque vous recevez la réponse
                à votre scan, entrez le code affiché sur la page "Réceptionner". Puis, cliquez sur "démarrer le transfert".
                Le texte devrait apparaître sur l'autre page.
            </p>
        </content>
        

    </body>
</html>