<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Two devices scan</title>
        <link rel="stylesheet" href="/assets/style.css" type="text/css">
    </head>
    <body>
        <nav>
            <a href="/">Accueil</a>
            <a href="/oneDScan">Scan à un appareil</a>
            <a href="/twoDScan">Scan à deux appareils</a>
            <a href="/help">Aide</a>
        </nav>

        <div>
            <h1>Scan à deux appareils</h1>
            <div class="img-links">
                <div class="select-scan">
                    <a href="/receive">
                        <img src="/assets/images/receive.jpg"  class="img_devices">
                    </a>
                    <span>Réceptionner</span>
                </div>

                <div class="select-scan">
                    <a href="/send_scan">
                        <img src="/assets/images/scan_text.jpg"  class="img_devices">
                    </a>
                    <span>Scanner</span>
                </div>
            </div>
        </div>
    </body>
</html>